Repository anfluff/portfolio: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check:codestyle, check:docker, check:todo

check:codestyle:
  stage: qa
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:${NODE_VERSION}-alpine
  allow_failure: true
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - node_modules
  before_script:
  - npm ci
  script:
  - npm run lint

check:docker:
  stage: qa
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/hadolint/hadolint:latest-debian
  allow_failure: true
  script:
  - hadolint Dockerfile

check:todo:
  stage: qa
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/mishamyrt/checode
  allow_failure: true
  script: checode src/

wip
  .checode.yaml
  .env.dist
  .gitlab-ci.yml
  ansible-playbook.yml
  docker-compose.yml
  src/pages/Alterainvest.vue
  src/pages/Kvetun.vue
Due: check:codestyle, check:todo

wip
  Dockerfile
Due: check:docker

wip
  Dockerfile
  docker/web/config/web.nginx.conf
Due: check:docker

wip
  docker/web/docker-command.sh
Due: none

wip
  src/pages/About.vue
Due: check:codestyle, check:todo

wip
  src/pages/Alterainvest.vue
  src/pages/Hemagon.vue
Due: check:codestyle, check:todo

Path conditions:
  check:codestyle: any of: src/**/*, package.json, package-lock.json
  check:docker: any of: Dockerfile
  check:todo: any of: src/**/*, .checode.yaml
